html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

ul {
    margin-bottom: 0;
    margin-top: 15px;
}
h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0; /*Убрать оступ у заголовков*/
  }

h1 {
    font-family: 'BhuTuka Expanded One', cursive;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 10px;
    font-weight: bold;
}

*,    
*:after,
*:before {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Header */
.header {
    background-color: #e88282;
    padding-top: 20px;
    padding-bottom: 15px;
}

.nav__list {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.nav__item {
    padding-bottom: 5px;
}

.nav__link {
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s linear;
}

.nav__link:hover { 
    color: #fce38a;
}

/* Intro */

.intro {
    padding: 0 80px;
    border-bottom: 5px solid #e88282;
}

.intro__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid #e88282;
    padding-top: 15px;
    padding-bottom: 15px;
}

.intro__title {
    text-align: center;
}

.intro__suptitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'BhuTuka Expanded One', cursive;
}

.section__bg {
    background-image: url(/rsschool-cv/assets/img/cv-bg.jpg);
    background-size: cover;
    background-position: top;
}

.my-photo {
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 25%;
}

.contacts {
    font-family: 'Merienda', cursive;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contacts__item {
    display: flex;
    align-items: center;
}


@media (max-width: 990px) {
    .contacts__item {
      width: 50%;
    }
  }
.telegram__link {
    text-decoration: none;
}

.item__img {
    margin-right: 10px;
    margin: 10px;
}


/* CV Information */


.cv__information {
    padding: 20px 80px;
    background-image: url(/rsschool-cv/assets/img/second-bg.jpg);
    background-size: 100% 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    grid-template-areas: "skills summary"
	                     "code code"
                         "education languages"
                         "courses projects";
}

.projects {
    grid-area: projects;
}

.courses {
    grid-area: courses;
}

.languages {
    grid-area: languages;
}

.education {
    grid-area: education;
}

.skills {
    grid-area: skills;
}

.code {
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.132);
    grid-area: code;
    justify-self: center;
    border-radius: 10%;
}

.code h2 {
    padding-top: 20px;
}

.summary {
    grid-area: summary;
}

.summary p {
    padding-top: 10px;
}






/* Footer */
.footer {
    background-color: #e88282;
    padding: 15px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__logo {
    width: 80px
}